body {
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

button, .btn-secondary {
    width: 100%;
    margin-top: 10px;
}

table {
    margin-top: 20px;
}
