{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/panel.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>Book List</h1>
        <a href="{% url 'book_create' %}" class="btn btn-primary mb-3">Add Book</a>
        <div class="mt-3">
            <a href="{% url 'admin_panel' %}" class="btn btn-secondary">Back to Home</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Stock Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author.name }}</td>
                    <td>{{ book.ISBN }}</td>
                    <td>{{ book.price }}</td>
                    <td>{{ book.stock_quantity }}</td>
                    <td>
                        <a href="{% url 'book_update' book.pk %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
